/* ----------- HEADER ------------------ */

.header{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    position: fixed;
}


.headerTop{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.headerBtn{
    width: 30px;
    height: 30px;
    background: url(../img/menu.png) no-repeat center;
    border: none;
}

/* oculto el toda la lista del menu usando display: none */
.headerMenu{
    width: 100%;
    max-height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    left: 0;
    top: 80px;
    
    padding: 0px 50px;

    font-size: 14px;

    overflow: hidden;

    transition: all 0.4s;

    background-color: #00baae65;
}

.headerMenu--hidden{
    max-height: 0px;
    
}

.headerMenu ul{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;   
}

.headerMenu a{
    text-decoration: none;
    color: blueviolet;
}
