/* ----------------------- BOOKS GALLERY SECTION ----------------------- */
@import "./generics.scss";


.bookGallery{

    @include flex-column-center();
    padding: 50px 20px 60px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    &_tittle{
        @include textTittle()
    }

    &_textDecoration{
        @include ImgTxDecoration();
    }

    &_textBooks{
        width: 90%;
        @include textInfo();
        max-width: 1200px;
    }

    &_containerBooks{
        width: 90%;
        margin-top: 50px;
    }
    
    &_books-carrusel{
        display: flex;
        gap: 30px;
        padding-bottom: 20px;
        overflow-x: scroll;
        flex-direction: row;
    }

    &_boxImgBooks{
        width: 100%;
    }

    &_imgBooks{
        width: auto;
        max-height: 280px;
        border-radius: 5px;
    }
}

.book8{
    height: 320px;
}

@media (min-width: 750px){
    .bookGallery {
        margin-top: 60px;

        &_tittle {
            padding-top: 60px;
            font-size: 30px;
        }

        &_textBooks {
            font-size: 20px;
        }
    }
}

@media (min-width: 1024px){
    .bookGallery {

        &_tittle {
            font-size: 32px;
        }
    }
}