/* ----------------------- BOOKS GALLERY SECTION ----------------------- */
@import "./generics.scss";


.bookGallery{

    @include flex-column-center();
    padding: 50px 20px 60px;

    &_tittle{
        @include textTittle()
    }

    &_textDecoration{
        @include ImgTxDecoration();
    }

    &_textBooks{
        width: 90%;
        @include textInfo();
    }

    &_containerBooks{
        width: 90%;
        // height: 360px;
        gap: 10px;
        margin-top: 50px;
    }
    
    &_books-carrusel{
        display: flex;
        overflow-x: scroll;
        flex-direction: row;
        gap: 10px;
        // scrollbar-width: none;
        // cursor: pointer;
        // scrollbar-width: none;
        // scroll-behavior: smooth;
    }

    &_boxImgBooks{
        // transform-origin: center left;
    }

    &_imgBooks{
        width: 120px;
        max-width: 250px;
        height: 180px;
        max-height: 320px;
        // padding: 0;
        // width: 120px;
    }
}

// .bookGallery_containerBooks::-webkit-scrollbar {
//     width: none;
// }
// .bookGallery_containerBooks::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px rgb(107, 102, 197); 
//     border-radius: 10px;
// }
// .bookGallery_containerBooks::-webkit-scrollbar-thumb {
//     background: rgb(43, 20, 169); 
//     border-radius: 10px;
// }
// .bookGallery_containerBooks::-webkit-scrollbar-thumb:hover {
//     background: #b30000; 
// }

