/* ----------------------- HOME SECTION ----------------------- */
@import "./generics.scss";

.home{
    width: 100%;
    height: 850px;
    @include flex-column-center();
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%);
    }

    &_containerInfo{
        @include flex-column-center(); 
        width: 90%;
        padding: 0px 20px;
    }

    &_background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        object-fit: cover;

    }

    &_information {
        width: 70%;
        @include flex-column-center();
    }

    &_imgBook {
        width: 90%;
        max-width: 300px;
        margin-top: 50px;
    }

    &_tittle {
        font-size: 45px;
        color: $text-color;
        font-family: $font-text;
        font-weight: 900;
    }

    &_slogan{
        text-align: center;
        color: $text-color;
        font-family: $font-text;
        font-size: 30px;
        padding-top: 30px;
    }

    &_text {
        text-align: center;
        color: $text-color;
        font-family:serif;
        font-weight: 100;
        font-size: 22px;
        padding-top: 20px;
    }

}

.btn_home {
    @include button();
    border-style: none;
    background: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
}

@media (min-width: 750px) {

    .home{
 
        &_tittle {
            font-size: 65px;
            letter-spacing: 5px;    
        }

        &_slogan{
            padding-top: 60px;
        }

        &_imgBook{
            margin-top: 80px;
        }
    }
}

@media (min-width: 1024px) {

    .home{
        height: 700px;

        &_containerInfo{
            flex-direction: row;
            padding: 0 60px;
        }

        &_information{
            justify-content: flex-start;
            align-items: flex-start;
        }

        &_tittle {
            text-align: start;   
        }

        &_slogan{
            text-align: start;
        }

        &_text{
            text-align: start;
        }

        &_imgBook{
            margin-top: 0;
            max-width: 400px;
        }
    }

    
    .home_btn{
    //    box-shadow: rgb(0 0 0 /35%) 0px 5px 15px;
       box-shadow: rgb(0, 0, 0/35%) 0px 5px 15px;
    }
}

@media (min-width: 1250px) {
    .home{
        height: 790px;
    }
}




