/* ----------------------- MAIN SECTION ----------------------- */
$text-color: #ffffff;
$font-text: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin button{
    padding: 10px 15px;
    border-radius: 5px;
}


.home{
    width: 100%;
    @include flex-column-center();

    &_containerInfo{
        @include flex-column-center(); //ESTO NO LO HEREDA DEK ANTERIOR??
        position: absolute;
        top: 190px;
        width: 90%;
        padding: 0px 20px;
    }

    &_background {
        width: 100%;
        height: 800px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.8;
        object-fit: cover;
        object-position: 45% 100%;
    }

    &_information {
        @include flex-column-center();
        gap: 20px;
    }

    &_imgBook {
        margin-top: 70px;
    }

    &_tittle {
        font-size: 45px;
        color: $text-color;
        font-family: $font-text;
        font-weight: 900;
    }

    &_slogan{
        text-align: center;
        color: $text-color;
        font-family: $font-text;
        font-size: 32px;
        padding-top: 50px;
    }

    &_text {
        text-align: center;
        color: $text-color;
        font-family:serif;
        font-weight: 100;
        font-size: 24px;
        padding-top: ;
    }
    //esto no lo lee
    &_btnSuscription {
        padding: 10px 15px;
        border-radius: 8px;
        border-style: none;
        background: white;
        font-size: 16px;
        margin-top: 40px;
    }
}

