@import "./generics.scss";

@mixin textPay {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #4f5052;
}

.text{
    @include textPay();

    &_code{
        padding-bottom: 10px;
    }
}

.input{
    width: 100%;
    // max-width: 600px;
    padding: 6px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #4f5052;
    outline: none;

    &_code{
        width: 70%;
        min-width: 120px;
    }

    & input {
        position: relative;
        border: none;
        width: 50%;
        text-align: center;
        outline: none;
    }
   /*  &_month{
        position: relative;
        border: none;
        width: 50%;
        text-align: center;
    } */

   /*  &_year{
        border: 0;
        width: 50%;
        outline: none;
        appearance: none;
        text-align: center;
    } */

    &_dateExpiration {
        display: flex;
        flex-direction: row;
    }
}



.payment{
    width: 100%;
    padding-top: 70px;
    @include flex-column-center();

    & #form{
        width: 90%;
    }

    &_container{
        width: 90%;
        max-width: 800px;
        margin: 50px 0px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        
        @media (min-width: 400px) {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            
        }

        & img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }

    &_suscriptionContainer{
        width: 80%;
        padding-top: 40px;
        @include flex-column-center();
    }
    
    &_informationContainer{
        width: 100%;
        padding-top: 20px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        // 
        
    }
    
    &_saveInformation{
        width: 90%;
        margin: 35px 0 25px;
        display: flex;
        gap: 15px;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        
    }

    &_infPayment{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_boxButton{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.payment--opacity{
    opacity: 0.5;
}

.suscription{
    &_boxInfo{
        width: 100%;
       @include flex-row-spaceBetween();
    }

    &_total{
        width: 100%;
        padding: 20px 0 10px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    &_codeDiscount{
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &_codeBox{
        width: 100%;
        @include flex-row-spaceBetween();
        gap: 30px;
    }

}

.itemTotal{
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.verifyCreditCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_boxCcv{
        width: 20%;

        & input{
            padding: 6px;
        }
    }

    &_boxDate{
        width: 40%;
    }
}

.btn {
    background: #D17171;
    border: none;
    width: 60%;
    padding: 10px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    &_use {
        max-width: 180px;
        margin-bottom: 0;
    }
}

//para que aparezca como un alert ? como hago 
.msmValidate_box{
    position: absolute;
    width: 80%;
    max-width: 300px;
    height: 180px;
    max-height: 400px;
    padding: 20px 50px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background: #d17171;
    color: #fdfdfd;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}
