/* ----------------------- BOOKS GALLERY SECTION ----------------------- */
.bookGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 60px; }
  .bookGallery_tittle {
    padding: 10px 0;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center; }
  .bookGallery_textDecoration {
    width: 85%;
    max-width: 400px;
    padding-bottom: 20px; }
  .bookGallery_textBooks {
    width: 90%;
    font-size: 24px;
    font-family: serif;
    font-weight: 400;
    text-align: center; }
  .bookGallery_containerBooks {
    width: 90%;
    margin-top: 50px; }
  .bookGallery_books-carrusel {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    overflow-x: scroll;
    flex-direction: row; }
  .bookGallery_boxImgBooks {
    width: 100%; }
  .bookGallery_imgBooks {
    width: auto;
    max-height: 320px;
    border-radius: 5px; }

.book8 {
  height: 320px; }
