/* ----------- HEADER ------------------ */
/* @mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
} */
.header {
  padding-top: 15px;
  width: 100%;
  position: fixed;
  z-index: 2; }
  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header_btn {
    width: 30px;
    height: 30px;
    max-height: 40px;
    margin-right: 15px;
    background: url(../img/menu.png) no-repeat center;
    border: none;
    cursor: pointer; }
  .header_btnX {
    width: 30px;
    height: 30px;
    max-height: 40px;
    margin-right: 15px;
    background: url(../img/menuX.png) no-repeat center;
    border: none;
    cursor: pointer; }
  .header_menu {
    width: 100%;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 0px 50px;
    font-size: 14px;
    overflow: hidden;
    transition: all 0.4s;
    background-color: #D67F7F; }
    .header_menu ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px; }
    .header_menu li {
      width: 100%;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 16px;
      padding: 10px 0px;
      display: flex;
      justify-content: center; }
      .header_menu li :hover {
        border-bottom: 1px solid white; }
    .header_menu a {
      text-decoration: none;
      color: #323232; }
  .header_menu--hidden {
    max-height: 0px; }
  .header--background {
    background: #00BAAD; }

@media (min-width: 1024px) {
  .header {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .header_top {
      justify-content: center; }
    .header_menu {
      width: auto;
      padding: 0px;
      position: initial;
      overflow: visible; }
      .header_menu ul {
        flex-direction: row;
        gap: 20px;
        padding: 8px; }
      .header_menu li {
        width: auto;
        padding: 0px;
        font-weight: 500; }
      .header_menu a {
        color: #ffffff; }
    .header_btn {
      display: none; }
  .contact {
    border-radius: 8px;
    background-color: #D67F7F;
    padding: 10px 15px; }
    .contact:hover {
      background-color: #c17474; } }
