/* ----------------------- HOME SECTION ----------------------- */
.home {
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .home_containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0px 20px; }
  .home_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover; }
  .home_information {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .home_imgBook {
    width: 90%;
    max-width: 300px;
    margin-top: 50px; }
  .home_tittle {
    font-size: 45px;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 900; }
  .home_slogan {
    text-align: center;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
    padding-top: 30px; }
  .home_text {
    text-align: center;
    color: #ffffff;
    font-family: serif;
    font-weight: 100;
    font-size: 22px;
    padding-top: 20px; }

.btn_home {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  background: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px; }

@media (min-width: 750px) {
  .home_tittle {
    font-size: 65px;
    letter-spacing: 5px; }
  .home_slogan {
    padding-top: 60px; }
  .home_imgBook {
    margin-top: 80px; } }

@media (min-width: 1024px) {
  .home_background {
    height: 700px; }
  .home_containerInfo {
    flex-direction: row;
    padding: 0 60px; }
  .home_information {
    justify-content: flex-start;
    align-items: flex-start; }
  .home_tittle {
    text-align: start; }
  .home_slogan {
    text-align: start; }
  .home_text {
    text-align: start; }
  .home_imgBook {
    margin-top: 0;
    max-width: 400px; }
  .home_btn {
    box-shadow: black 0px 5px 15px; } }

@media (min-width: 1250px) {
  .home_background {
    height: 790px; } }
