/* ----------------------- HOME SECTION ----------------------- */
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .home_containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    width: 90%;
    padding: 0px 20px; }
  .home_background {
    width: 100%;
    height: 800px;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 45% 100%; }
  .home_information {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .home_imgBook {
    width: 90%;
    max-width: 300px;
    margin-top: 50px; }
  .home_tittle {
    font-size: 45px;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 900; }
  .home_slogan {
    text-align: center;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
    padding-top: 30px; }
  .home_text {
    text-align: center;
    color: #ffffff;
    font-family: serif;
    font-weight: 100;
    font-size: 22px;
    padding-top: 20px; }

.home_btn {
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
  background: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px; }

@media (min-width: 750px) {
  .home_background {
    object-position: 50% 100%; }
  .home_containerInfo {
    top: 220px; }
  .home_tittle {
    font-size: 65px;
    letter-spacing: 5px; }
  .home_slogan {
    padding-top: 60px; }
  .home_imgBook {
    margin-top: 80px; } }

@media (min-width: 1024px) {
  .home_background {
    /* object-fit: cover; */
    /* object-position: 45% 100%;*/ }
  .home_containerInfo {
    flex-direction: row;
    padding: 0 60px; }
  .home_information {
    justify-content: flex-start;
    align-items: flex-start; }
  .home_tittle {
    text-align: start; }
  .home_slogan {
    text-align: start; }
  .home_text {
    text-align: start; }
  .home_imgBook {
    margin-top: 0;
    max-width: 400px; }
  .home_btn {
    box-shadow: black 0px 5px 15px; } }

/* ----------------------- ABOUT-US SECTION ----------------------- */
.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 800px;
  padding: 50px 20px 60px; }
  .aboutUs_tittle {
    width: 90%;
    padding: 10px 0;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center; }
  .aboutUs_textDecoration {
    width: 85%;
    max-width: 400px;
    padding-bottom: 20px; }
  .aboutUs_boxInformation {
    width: 90%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .aboutUs_containerInf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20px; }
  .aboutUs_textInf {
    font-size: 24px;
    font-family: serif;
    font-weight: 400;
    text-align: center; }
  .aboutUs_img {
    width: 250px;
    max-width: 450px;
    margin: 30px 0 40px; }

@media (min-width: 750px) {
  .aboutUs {
    margin-top: 60px; }
    .aboutUs_tittle {
      padding-top: 60px;
      font-size: 42px; }
    .aboutUs_containerInf--first {
      flex-direction: row;
      justify-content: space-around; }
    .aboutUs_containerInf--second {
      flex-direction: row-reverse;
      justify-content: space-around; }
    .aboutUs_textInf {
      width: 60%; }
    .aboutUs_textInf--first {
      text-align: start; }
    .aboutUs_textInf--second {
      text-align: end; }
    .aboutUs_img {
      margin: 0; } }

@media (min-width: 1024px) {
  .aboutUs {
    margin-top: 0; }
    .aboutUs_tittle {
      padding-top: 0; } }

/* ----------------------- ADVANTAGE SECTION ----------------------- */
.advantage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 2100px;
  margin: 60px 0 50px; }
  .advantage_box {
    width: 100%;
    height: 220px;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .advantage_box--click {
    background: #2A7B9B; }
  .advantage_box--books {
    background: #3D3D6B; }
  .advantage_box--readers {
    background: #00BAAD; }
  .advantage_box--downlands {
    background: #511849; }
  .advantage_text {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px; }

@media (min-width: 750px) {
  .advantage {
    top: 1650px;
    flex-direction: row;
    flex-wrap: wrap; }
    .advantage_box {
      width: 50%; } }

@media (min-width: 1024px) {
  .advantage {
    top: 1520px; } }
