.text {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #4f5052; }
  .text_code {
    padding-bottom: 10px; }

.input {
  width: 100%;
  padding: 6px 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #4f5052;
  outline: none; }
  .input_code {
    width: 70%;
    min-width: 120px; }
  .input input {
    position: relative;
    border: none;
    width: 50%;
    text-align: center;
    outline: none; }
  .input_dateExpiration {
    display: flex;
    flex-direction: row; }

.payment {
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .payment #form {
    width: 90%; }
  .payment_container {
    width: 90%;
    max-width: 800px;
    margin: 50px 0px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px; }
    @media (min-width: 400px) {
      .payment_container {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; } }
    .payment_container img {
      width: 50px;
      object-fit: contain; }
  .payment_suscriptionContainer {
    width: 80%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .payment_informationContainer {
    width: 100%;
    padding-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column; }
  .payment_saveInformation {
    width: 90%;
    margin: 35px 0 25px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .payment_infPayment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; }
  .payment_boxButton {
    width: 100%;
    display: flex;
    justify-content: center; }

.payment--opacity {
  opacity: 0.5; }

.suscription_boxInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px; }

.suscription_total {
  width: 100%;
  padding: 20px 0 10px;
  gap: 20px;
  display: flex;
  flex-direction: column; }

.suscription_codeDiscount {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.suscription_codeBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px; }

.itemTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.verifyCreditCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .verifyCreditCard_boxCcv {
    width: 20%; }
    .verifyCreditCard_boxCcv input {
      padding: 6px; }
  .verifyCreditCard_boxDate {
    width: 40%; }

.btn {
  background: #D17171;
  border: none;
  width: 60%;
  padding: 10px 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer; }
  .btn_use {
    max-width: 180px;
    margin-bottom: 0; }

.msmValidate_box {
  position: absolute;
  width: 80%;
  max-width: 300px;
  height: 180px;
  max-height: 400px;
  padding: 20px 50px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  background: #d17171;
  color: #fdfdfd;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500; }
