.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px; }
  .plans_tittle {
    width: 90%;
    padding: 10px 0;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center; }
  .plans_textDecoration {
    width: 80%;
    max-width: 400px;
    margin-bottom: 60px; }
  .plans_textPlans {
    width: 90%;
    font-size: 16px;
    font-family: serif;
    font-weight: 400;
    text-align: center;
    max-width: 1200px; }
  .plans_containerCards {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px; }
  .plans_card {
    width: 250px;
    height: 300px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

.card_textMonth {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 100px;
  font-weight: bold; }

.card_month {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  font-weight: 700; }

.card_suscription {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 400; }

.card_price {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: -22px;
  left: -50px;
  width: 150px;
  transform: rotate(316deg);
  background: #511849;
  color: white;
  padding: 50px 20px 20px;
  border-radius: 8px; }

.btn_suscription {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #C70039;
  box-shadow: #545454 0px 1px 7px;
  margin-top: 20px;
  color: white; }

@media (min-width: 750px) {
  .plans_tittle {
    padding-top: 60px;
    font-size: 30px; }
  .plans_textPlans {
    font-size: 20px; } }

@media (min-width: 1024px) {
  .plans_tittle {
    font-size: 32px; } }
