@import url("./header.css");
@import url("./mainSection.css");
@import url("./aboutUsSection.css");
@import url("./advantageSection.css");
@import url("./booksGallerySection.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100%; }

main {
  width: 100%; }

main > img {
  width: 100%; }
